@import "~swagger-ui/dist/css/screen.css";
@import "~swagger-ui/dist/css/typography.css";

.swagger-section .swagger-ui-wrap {
  ul#resources,
  ul.endpoints {
    padding-left: 0;

    li.resource {
      div.heading h2 {
        margin-top: 0;
        margin-bottom: 0;
      }
    } 
  }

  label {
    font-weight: normal;
  }

  .required {
    label, a {
      font-weight: bold;
    }
  }
}