<li class="endpoint">
  <ul class="operations">
    <li
      class="{{endpoint.verb}} operation" 
      id="{{tag.id}}_{{operation.operationId}}">
      <div class="heading">
        <h3>
          <span class="http_method">
            <a
              href="#!/{{tag.id}}/{{operation.operationId}}"
              class="toggleOperation">
              {{endpoint.verb}}
            </a>
          </span>
          <span class="path">
            <a 
              href="#!/{{tag.id}}/{{operation.operationId}}"
              class="toggleOperation {{operation.deprecated ? 'deprecated' : ''}}">
              {{endpoint.pathName}}
            </a>
          </span>
        </h3>
        <ul class="options">
          <li>
            <a 
              href="#!/{{tag.id}}/{{operation.operationId}}"
              class="toggleOperation">
              <span class="markdown">
                <p>{{operation.summary}}</p>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div 
        class="content" 
        id="{{tag.id}}_{{operation.operationId}}_content">
        <h4 ng-if="operation.description">
          Implementation Notes
        </h4>
        <div ng-if="operation.description" class="markdown">
          <p>{{operation.description}}</p>
        </div>

        <h4 ng-if="operation.responses[200]">
          Response Class (Status 200)
        </h4>
        <div 
          ng-if="operation.responses[200] && operation.responses[200].description"
          class="markdown">
          <p>{{operation.responses[200].description}}</p>
        </div>
        <p ng-if="operation.responses[200] && operation.responses[200].schema">
          <schema-model schema="operation.responses[200].schema"></schema-model>
        </p>

        <form accept-charset="UTF-8" class="sandbox">
          <h4 data-sw-translate ng-if="getParameters().length">Parameters</h4>
          <table 
            ng-if="getParameters().length"
            class="fullwidth parameters">
            <thead>
              <th style="width: 100px; max-width: 100px" data-sw-translate="">Parameter</th>
              <th style="width: 310px; max-width: 310px" data-sw-translate="">Value</th>
              <th style="width: 200px; max-width: 200px" data-sw-translate="">Description</th>
              <th style="width: 100px; max-width: 100px" data-sw-translate="">Parameter Type</th>
              <th style="width: 220px; max-width: 230px" data-sw-translate="">Data Type</th>
            </thead>
            <tbody class="operation-params">
              <tr ng-repeat="parameter in getParameters() track by $index">
                <td class="code {{parameter.required || parameter.name === 'body' ? 'required' : ''}}">
                  <label for="mbody{{randomId}}">
                    <a
                      ng-click="focusEdit($event, [
                          'paths',
                          endpoint.pathName,
                          endpoint.verb,
                          'parameters',
                          $index
                        ])"
                      tooltip-placement="top"
                      uib-tooltip="To Spec"
                      tooltip-trigger="mouseenter">{{parameter.name}}</a>
                  <label>
                </td>
                <td ng-if="parameter.name === 'body'">
                  <textarea
                    class="body-textarea required"
                    placeholder="(required)"
                    name="body"
                    id="mbody{{randomId}}"></textarea>
                  <div class="editor_holder"></div>
                  <br>
                  <div class="parameter-content-type">
                    <div>
                      <label for="pct{{randomId}}" data-sw-translate="">Parameter content type:</label>
                      <select name="parameterContentType" id="pct{{randomId}}">
                        <option value="application/json">application/json</option>
                        <option value="application/xml">application/xml</option>
                      </select>
                    </div>
                  </div>
                </td>
                <td ng-if="parameter.name !== 'body'">
                  <input
                    class="parameter {{parameter.required ? 'required' : ''}}"
                    ng-attr-minlength="{{parameter.required ? 1 : undefined}}"
                    name="{{parameter.name}}"
                    placeholder="{{parameter.required ? '(required)' : ''}}"
                    id="m{{parameter.name}}{{randomId}}"
                    type="text"
                    value="">
                </td>
                <td 
                  ng-if="hasAParameterWithDescription(getParameters())" 
                  marked="parameter.description"
                  class="{{parameter.required || parameter.name === 'body' ? 'required' : ''}}"></td>
                <td>{{parameter.in}}</td>
                <td class="schema-model">
                  <schema-model schema="parameter.schema"></schema-model>
                </td>
              </tr>
            </tbody>
          </table>

          <table 
            ng-if="hasNonSuccessResponse(operation.responses)"
            class="fullwidth response-messages">
            <thead>
              <tr>
                <th data-sw-translate="">HTTP Status Code</th>
                <th data-sw-translate="">Reason</th>
                <th data-sw-translate="">Response Model</th>
                <th data-sw-translate="">Headers</th>
              </tr>
            </thead>
            <tbody class="operation-status">
              <tr ng-repeat="(responseCode, response) in nonSuccessResponses(operation.responses)">
                <td width="15%" class="code">
                  <a
                    ng-click="focusEdit($event, [
                      'paths',
                      endpoint.pathName,
                      endpoint.verb,
                      'responses',
                      responseCode])"
                    tooltip-placement="top"
                    uib-tooltip="To Spec"
                    tooltip-trigger="mouseenter">
                    {{responseCode}}
                  </a>
                </td>
                <td class="markdown">
                  <p>{{response.description}}</p>
                </td>
                <td width="50%">
                  <schema-model ng-if="response.schema" schema="response.schema"></schema-model>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="sandbox_header">
            <input class="submit" type="submit" value="Try it out!" data-sw-translate="">
            <a href="#" class="response_hider" style="display:none" data-sw-translate="">Hide Response</a>
            <span class="response_throbber" style="display:none"></span>
          </div>
        </form>

        <div class="response" style="display:none">
          <h4 class="curl">Curl</h4>
          <div class="block curl"></div>
          <h4 data-sw-translate="">Request URL</h4>
          <div class="block request_url"></div>
          <h4 data-sw-translate="">Response Body</h4>
          <div class="block response_body"></div>
          <h4 data-sw-translate="">Response Code</h4>
          <div class="block response_code"></div>
          <h4 data-sw-translate="">Response Headers</h4>
          <div class="block response_headers"></div>
        </div>
      </div>
    </li>
  </ul>
</li>