<span class="model-signature">
  <ul class="signature-nav">
    <li>
      <a 
        class="description-link" 
        href="#" 
        data-sw-translate
        ng-click="switchMode('json')">Model</a>
    </li>
    <li>
      <a
        class="snippet-link selected"
        href="#"
        data-sw-translate
        ng-click="switchMode('schema')">Example Value</a>
    </li>
  </ul>
  <div class="signature-container">
    <div class="view json description" ng-show="mode === 'json'"></div>
    <div class="view schema snippet" ng-show="mode === 'schema'"></div>
  </div>
</span>